@import "tailwindcss";

@layer base {
  body {
    @apply bg-black text-white;
  }

  /* Global Scrollbar Theme */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full border border-black;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-white/20;
  }
}